<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
  <head>
     <title>Entries posted in <!-- tmpl_var name='month_name' --> <!-- tmpl_var name='year' --></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <!-- tmpl_include name='inc/style.inc' -->
  </head>
  <body>
    <h1 id="blog-title"><a href="<!-- tmpl_var name='top' -->"><!-- tmpl_var name='blog_title' --></a>  <span><!-- tmpl_var name='blog_subtitle' --></span></h1>
<table style="width:100%; border-top: 1px solid black;">
<tr>
 <td valign="top" width="80%" style="padding:5px; border-right: 1px solid grey;">
<h1>Entries posted in <!-- tmpl_var name='month_name' --> <!-- tmpl_var name='year' --></h1>
<blockquote>
<!-- tmpl_if name='entries' -->
<!-- tmpl_loop name='entries' -->
  <!-- tmpl_include name='inc/blog-post-truncated.inc' -->
<!-- /tmpl_loop -->
<!-- /tmpl_if -->
</blockquote>
</td>
<td valign="top" style="padding:5px;" width="18%"><!-- tmpl_include name='inc/sidebar.inc' --></td></tr>
</table>
<div id="footer" style="border-top: 1px solid black;">
 <p style="text-align:right;">&copy; 2014 <a href="http://www.steve.org.uk/">Steve Kemp</a> - Built by <a href="http://www.steve.org.uk/Software/chronicle/">Chronicle</a>, spam filtered by <a href="http://blogspam.net/">BlogSpam.net</a></p>
</div>
</body>
</html>
