##
#  Sample configuration file for the chronicle blog compiler.
#
#       http://www.steve.org.uk/Software/chronicle/
#
##
#####
##
#
#  When the compiler starts it will look for :
#
#    /etc/chronicle/config
#
#    ~/.chronicle/config
#
#  Both files will be read if present, the latter may override the former.
#
#  Alternatively, or additionally, you may pass a configuration file as
# an argument via "chronicle --config=/path/to/file"
#
####







#
#  Here we specify the input-directory, where blog-files are located.
#
input = ./blog


#
#  The pattern of files to include, these files will be handled recursively.
#
# pattern = *.txt
#
# NOTE:
#
# By default it is assumed you have a directory with a flat hierarchy,
# so for example you might have these files:
#
#    blog/1.txt
#    blog/2.txt
#    blog/3.txt
#
# But the following set of files will also be read and processed:
#
#    blog/2015/May/01.txt
#    blog/2015/May/02.txt
#    blog/2015/May/03.txt
#    blog/2013/Apr/01.txt
#    ..
#

#
# As the previous section demonstrated blog-posts will be processed
# from beneath the input-directory, regardless of their depth.
#
# This next setting specifies whether the input-layout will be preserved
# or squashed.
#
# If you use dated-files then you'll want to set the value to 1, otherwise
# with a (default) value of 0 the posts will all end up in your top-level
# output-directory.
#
# entry_inplace = 0
#


#
#  The directory to write the formatted blog output to.
#
output = ./output


#
#  The path to the SQLite database used internally.
#
#  This can be removed, and if it is it will be regenerated.
#
# db = `pwd`/blog.db
#


#
#  Specify the directory containing themes.
#
#  (Each theme is a named sub-directory beneath the specified prefix.)
#
#  The default location will vary depending on your Perl installation,
# and you can see what is in-use upon your system via:
#
#    $ chronicle --list-themes
#
#  This configuration setting is useful if you have a local theme
# that you want to point at, without installing it system-wide.
#
# theme-dir = /usr/share/perl5/auto/share/dist/App-Chronicle/
#


#
#  The name of the theme to use.
#
theme = blog.steve.org.uk


#
#  The number of entries to include on the index.
#
# entry-count = 10
#


#
#  The number of entries to include in our main index RSS feed.
#
# rss-count = 10
#


#
#  The maximum age of posts which are allowed to accept comments.
#
# comment-days = 10


#
#  The filename to use for directory-indexes.
#
# index_filename = index.html
#


#
#  Suffix to use for single entries.
#
# entry_suffix = .html


#
#  URL prefix, if any.
#
# top = http://example.com/


#
#  The title for the site.
#
# blog_title    = Steve Kemp's Blog
# blog_subtitle = Free Software & Debian


#
#  A series of commands to be executed prior to the building of the
# blog.
#
#  (Commands are executed in the order they are listed here.)
#
# pre-build = cvs update -A -d
# pre-build = touch foo
#

#
#  A series of commands to run post-build.
#
#  (Commands are executed in the order they are listed here.)
#
# post-build = scp -r output/* user@host:/some/path
# post-build = echo 'I am complete'


#
#  Plugins to exclude at run-time.
#
#  The names are comma-separated and are treated as regular-expressions
# so "exclude-plugins = Chronicle" will exclude all plugins and give you
# very minimal output.
#
exclude-plugins = Chronicle::Plugin::Archived,Chronicle::Plugin::Verbose


#
#  The meta-plugin allows the date/time the blog is rebuilt to be inserted
# in the theme-templates, along with other variables.
#
#  Here we define the date/time formats which are used.
#
meta_date_format = %e %b %Y
meta_time_format = %X


#
#  The entries have a date and time though, which is different from that
# above.
#
#  These may be influenced.
#
date_format = %a, %e %b %Y
time_format = %X
short_date_format = %e %b %Y

#
#  If you wish to disable either for some reason then just set to a value
# which doesn't contain a single "%".  For example:
#
#   time_format = ''
#
