<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title><!-- tmpl_var name='blog_title' -->: Tag Cloud</title>
    <!-- tmpl_include name='inc/style.inc' -->
    <!-- tmpl_include name='inc/analytics.inc' -->
  </head>
  <body>
    <h1 id="blog-title"><a href="<!-- tmpl_var name='top' -->"><!-- tmpl_var name='blog_title' --></a>  <span><!-- tmpl_var name='blog_subtitle' --></span></h1>
<table style="width:100%; border-top: 1px solid black;">
<tr>
<td valign="top" style="padding:5px;" width="18%"><!-- tmpl_include name='inc/sidebar.inc' --></td>
 <td valign="top" width="80%"  style="padding:5px; border-left: 1px solid grey;">
<h1>Tag Cloud</h1>
<!-- tmpl_if name='all_tags' -->
<!-- tmpl_loop name='all_tags' -->
<span style="font-size: <!-- tmpl_var name='tsize' -->px"><a href="<!-- tmpl_var name='top' -->/tags/<!-- tmpl_var name='tag' escape='html' -->" title="Used <!-- tmpl_var name='count' --> times"><!-- tmpl_var name='tag' --></a></span>
<!-- /tmpl_loop -->
<!-- tmpl_else -->
<p>No tagged posts were found.</p>
<!-- /tmpl_if -->
</td></tr></table>
<div id="footer" style="border-top: 1px solid black;">
 <p style="text-align:right;">&copy; 2014 <a href="https://steve.kemp.fi/">Steve Kemp</a> - Built by <a href="<!-- tmpl_var name='chronicle_link' -->">Chronicle</a>, spam filtered by <a href="http://blogspam.net/">BlogSpam.net</a></p>
</div>
  </body>
</html>
