<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title><!-- tmpl_var name='blog_title' --></title>
    <link rel="stylesheet" type="text/css" media="screen" href="<!-- tmpl_var name='top' -->style.css" />
    <link rel="alternate" title="RSS Feed" href="<!-- tmpl_var name='top' -->index.rss" type="application/rss+xml" />
  </head>
  <body>
    <!-- tmpl_include name='header.inc' -->
    <!-- tmpl_loop name='entries' -->
    <div class="entry">
      <div class="title"><a href="<!-- tmpl_var name='top' --><!-- tmpl_var name='link' escape='html' -->"><!-- tmpl_var name='title' --></a></div>
      <div class="date"><!-- tmpl_var name='date' escape='html' --><!-- tmpl_if name='time' --> at <!-- tmpl_var name='time' --><!-- /tmpl_if --></div>
      <div class="body">
        <!-- tmpl_if name='truncatedbody' -->
           <!-- tmpl_var name='truncatedbody' -->
        <!-- tmpl_else -->
           <!-- tmpl_var name='body' -->
        <!-- /tmpl_if -->
      </div>
      <div class="tags">
        <!-- tmpl_if name='comment_count' -->
        <span class="comments">
          <!-- tmpl_var name='comment_count' --> comment<!-- tmpl_if name='comment_plural' -->s<!-- /tmpl_if -->.
        </span>
        <!-- /tmpl_if -->
        <!-- tmpl_if name='tags' -->
        Tags: <!-- tmpl_loop name='tags' --><a href="<!-- tmpl_var name='top' -->tags/<!-- tmpl_var name='tag' escape='html' -->"><!-- tmpl_var name='tag' escape='html' --></a><!-- tmpl_if name="__last__" -->.<!-- tmpl_else -->, <!-- /tmpl_if --><!-- /tmpl_loop -->
        <!-- tmpl_else -->
        No tags
        <!-- /tmpl_if -->
      </div>
    </div>
    <div class="padding"></div>
    <!-- /tmpl_loop -->
    <p style="text-align: right;"><a href="index.rss"><img src="<!-- tmpl_var name='top' -->xml.gif" alt="RSS feed" width="36" height="14" /></a></p>
    <div id="sidebar">
      <!-- tmpl_include name='sidebar.inc' -->
    </div>
    <!-- tmpl_include name='footer.inc' -->
  </body>
</html>
