<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title><!-- tmpl_var name='blog_title' -->: Tag List</title>
    <link rel="stylesheet" type="text/css" media="screen" href="<!-- tmpl_var name='top' -->style.css" />
  </head>
  <body>
    <!-- tmpl_include name='header.inc' -->
    <h3>Tag Cloud</h3>
<!-- tmpl_if name='all_tags' -->
<ul style="list-style:none;">
<!-- tmpl_loop name='all_tags' -->
<li><a href="<!-- tmpl_var name='top' -->/tags/<!-- tmpl_var name='tag' escape='html' -->" title="Used <!-- tmpl_var name='count' --> times"><!-- tmpl_var name='tag' --></a></li>
<!-- /tmpl_loop -->
</ul>
<!-- tmpl_else -->
<p>No tagged posts were found.</p>
<!-- /tmpl_if -->

    <div id="sidebar">
      <!-- tmpl_include name='sidebar.inc' -->
    </div>
    <!-- tmpl_include name='footer.inc' -->
  </body>
</html>
